body{
    width: 100%;
    background: #f8f8f8;
    color: #333;
    padding-top: 50px;
}
.main>.mainContent{
    width: 1200px;
    margin: 0 auto;
}
.main>.mainContent>div{
    width: 100%;
}
.main>.mainContent>div>.top{
    width: 100%;
    height: 25px;
    padding: 70px 0 40px 28px;
    box-sizing: border-box;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

}
.main>.mainContent>div>.top>.title{
    position: relative;
    color: #333;
    text-decoration: none;
}
.main>.mainContent>div>.top>.title::before{
    width: 18px;
    height: 18px;
    content: "";
    display: inline-block;
    background: #333;
    position: relative;
    left: -2px;
    top: 3px;
}
.mainContent>div>.content{
    padding-left: 25px;
    padding-right: 25px;
}
.mainTop{
    width: 100%;
    height: 500px;
    background: url("../images/indexBg02.jpg ") no-repeat center center;
    background-size: cover;
}

/*文章区开始*/
.content .articleBox{
    width: 100%;
    height: 220px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.articleBox .articleRight>img{
    width: 300px;
    height: 220px;
    margin-left: 10px;
    margin-right: -20px;
    margin-top: -20px;
}
.articleBox .articleTop{
    position: relative;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.articleBox .articleTop>.articleTitle{
    font-size: 24px;
    height: 30px;
    width: 580px;
    line-height: 32px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}
.articleTop>.articleTitle>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;

}
.articleTop>.articleTitle>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer{
    font-size: 12px;
}
.articleBox .articleTop>.writer>a{
    color: #444;
    text-decoration: none;
    transition: 0.25s;
}
.articleBox .articleTop>.writer>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
}
.articleBox .articleContent{
    position: relative;
    margin-bottom: 30px;
}
.articleBox .articleContent>p{
    width: 100%;
    overflow: hidden;
    height: 75px;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    padding-top: 15px;
    box-sizing: border-box;
}
.articleContent .viewAll{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    cursor: pointer;
    line-height: 20px;
    transition: 0.2s;
    user-select: none;
    margin-left: 10px;
}
.articleContent .viewAll:hover a{
    color: #57ad68;
}
.articleContent .viewAll img{
    width: 8px;
    height: 10px;
    vertical-align: middle;
    margin-bottom: 3px;
}
.articleContent .viewAll>a{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
}
.articleBox .articleBottom{
    font-size: 13px;
    color: #999;
}
/*文章区结束*/
/*视频区开始*/
.content>.videoList{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content>.videoList>.videoBox{
    width: 270px;
    height: 390px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.content>.videoList>.videoBox>.box{
    width: 270px;
    height: 270px;
    overflow: hidden;
    position: relative;
}
.content>.videoList>.videoBox>.box>img{
    width: 270px;
    height: 270px;
    transition: 0.8s;
}
.videoBox>.bottomInfo{
    padding: 25px 20px 13px 20px;
    box-sizing: border-box;
}
.videoBox>.bottomInfo>.videoTitle{
    padding-bottom: 10px;
    font-size: 24px;
    height: 24px;
    width: 260px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videoBox>.bottomInfo>.videoTitle>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;
}
.bottomInfo>.videoTitle>a:hover{
    color: #57ad68;
}
.videoBox>.bottomInfo>.publisher{
    font-size: 12px;
    padding-bottom: 13px;
    margin: 0;
    color: #444;
}
.videoBox>.bottomInfo>.publisher>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;
}
.bottomInfo>.publisher>a:hover{
    color: #57ad68;
}
.videoBox>.bottomInfo>.data{
    color: #999;
    font-size: 12px;
}
.videoBox .cover{
    text-decoration: none;
    width: 300px;
    height: 300px;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0);
    transition: 0.8s;
}
.videoBox .cover>.iconfont.icon-bofang{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    color: rgba(255,255,255,0);
    transition: 0.8s;
    user-select: none;
}
/*视频区结束*/
/*图片区开始*/
.hotImage .imageList{
    display: flex;
    justify-content: space-between;
}
.imageList>.imageBox{
    width: 270px;
    height: 370px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    overflow: hidden;
}
.imageList>.imageBox .box{
    overflow: hidden;
}
.imageList>.imageBox .box>a>img{
    width: 270px;
    height: 270px;
    transition: 0.8s;
}
.imageList>.imageBox .box>a>img:hover{
    transform: scale(1.2);
}
.imageList>.imageBox .bottomInfo{
    padding: 15px 20px 13px 20px;

}
.imageBox .bottomInfo>.infoTop{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.imageBox .bottomInfo>.infoTop .head>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.imageBox .bottomInfo>.infoTop .nickName>a{
    color: #444;
    text-decoration: none;
    transition: 0.25s;
    font-size: 13px;
}
.imageBox .bottomInfo>.infoTop .nickName>a:hover{
    color: #57ad68;
}
.imageBox .bottomInfo>.infoTop .likeIcon{
    width: 25px;
    height: 23px;
    display: inline-block;
    background: url("../images/like1.png") no-repeat 0 0;
    background-size: 100%;
}
.imageBox .bottomInfo>.infoTop .likeIcon:hover{
    background-image: url("../images/like2.png");
}
.imageBox.liked>.bottomInfo>.infoTop .likeIcon{
    background-image: url("../images/like2.png");
}
.imageBox .bottomInfo .data{
    font-size: 12px;
    color: #999;
}
/*图片区结束*/
.mainBottom{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}