body{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: #f8f8f8;
}
.main{
    width: 100%;
    background: #f8f8f8;
}
.main>.mainTop{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.main>.mainTop>.sortRule{
    width: 300px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    display: flex;
    justify-content: space-between;
}
.main>.mainTop>.sortRule>li{
    /*width: 100px;*/
    height: 100%;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.main>.mainTop>.sortRule>li.selected{
    color: #333;
    border-bottom: 2px solid #333;
}
.main>.mainTop>.sortRule>li:hover{
    color: #333;
    border-bottom: 2px solid #333;
}
/*文章区开始*/
.articleList{
    width: 1200px;
    margin: 30px auto;
}
.articleList>.articleBox{
    width: 100%;
    height: 220px;
    border: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.articleBox .articleRight>img{
    width: 300px;
    height: 220px;
    margin-left: 10px;
    margin-right: -20px;
    margin-top: -20px;
}
.articleBox .articleTop{
    position: relative;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.articleBox .articleTop>.articleTitle{
    font-size: 24px;
    height: 30px;
    width: 580px;
    line-height: 32px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}
.articleTop>.articleTitle>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;

}
.articleTop>.articleTitle>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer{
    font-size: 12px;
}
.articleBox .articleTop>.writer>a{
    color: #444;
    text-decoration: none;
    transition: 0.25s;
}
.articleBox .articleTop>.writer>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
}
.articleBox .articleContent{
    position: relative;
    margin-bottom: 30px;
}
.articleBox .articleContent>p{
    width: 100%;
    overflow: hidden;
    height: 75px;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    padding-top: 15px;
    box-sizing: border-box;
}
.articleContent .viewAll{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    cursor: pointer;
    line-height: 20px;
    transition: 0.2s;
    user-select: none;
    margin-left: 10px;
}
.articleContent .viewAll:hover a{
    color: #57ad68;
}
.articleContent .viewAll img{
    width: 8px;
    height: 10px;
    vertical-align: middle;
    margin-bottom: 3px;
}
.articleContent .viewAll>a{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
}
.articleBox .articleBottom{
    font-size: 13px;
    color: #999;
}
/*文章区结束*/