body{
    padding-top: 50px;
    background: #f8f8f8;
}
.main{
    width: 100%;
    background: #f8f8f8;
}
.main>.mainTop{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.main>.mainTop>.sortRule{
    width: 300px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #666;
    display: flex;
    justify-content: space-between;
}
.main>.mainTop>.sortRule>li{
    /*width: 100px;*/
    height: 100%;
    float: left;
    font-size: 16px;
    cursor: pointer;
}
.main>.mainTop>.sortRule>li.selected{
    color: #333;
    border-bottom: 2px solid #333;
}
.main>.mainTop>.sortRule>li:hover{
    color: #333;
    border-bottom: 2px solid #333;
}
/*视频区开始*/
.main>.mainBottom{
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
}
.mainBottom>.videoList{
    width: 100%;
    position: relative;
}
.mainBottom>.videoList>.videoBox{
    width: 400px;
    float: left;
    padding-bottom: 15px;
    /*position: absolute;*/
}
.mainBottom>.videoList>.videoBox>.videoBox-in{
    width: 370px;
    border: 1px solid #e8e8e8;
    background: #fff;
    box-sizing: border-box;

}
.mainBottom>.videoList>.videoBox .box{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.mainBottom>.videoList>.videoBox .box video{
    width: 100%;
    transition: 0.8s;

}
.videoBox .bottomInfo{
    padding: 5px 20px 13px 20px;
    box-sizing: border-box;
}
.videoBox .bottomInfo>.videoTitle{
    padding-bottom: 8px;
    font-size: 18px;
    height: 18px;
    width: 330px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.videoBox .bottomInfo>.videoTitle>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;
}
.bottomInfo>.videoTitle>a:hover{
    color: #57ad68;
}
.videoBox>.bottomInfo>.publisher{
    font-size: 12px;
    padding-bottom: 5px;
    margin: 0;
    color: #444;
}
.videoBox .bottomInfo>.publisher>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;
}
.bottomInfo>.publisher>a:hover{
    color: #57ad68;
}
.videoBox .bottomInfo>.data{
    color: #999;
    font-size: 12px;
}
.videoBox .playIcon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 22px;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgba(255,255,255,0.8);
    transition: 0.8s;
    user-select: none;
    z-index: 9;
}
.videoBox .box>.progressBar{
    width: 340px;
    height: 4px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    bottom: 15px;
    border-radius: 2px;
    margin-left: 15px;
    display: none;
}
.videoBox .box>.progressBar>.progress{
    display: inline-block;
    height: 4px;
    border-radius: 2px;
    width: 0;
    background: rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
}