body{
    width: 100%;
    background: #f8f8f8;
    padding-top: 70px;
    overflow-x: hidden;
}
.userPage{
    width: 1200px;
    margin: 10px auto 50px auto;
    background: #f8f8f8;
}
.userPage>.userPage-top{
    width: 100%;
    height: 250px;
    background: url("../images/indexBg01.jpg") no-repeat center center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 0 1px #eee;
    box-sizing: border-box;
}
.userPage-top-left{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.userPage-top-left>.head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(255,255,255,0.5);
    float: left;
}
.userPage-top-left>.head>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userPage-top-left>.info{
    width: 500px;
    height: 100px;
    float: left;
    margin-left: 20px;
    color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}
.userPage-top-left>.info>.nickName{
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.userPage-top-left>.info>.intro{
}
.userPage-top-right{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.userPage-top-right>button{
    width: 76px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgba(0,0,0,0.45);
    font-size: 14px;
    box-shadow: 0 0 0 2px hsla(0,0%,100%,.3);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.userPage-top-right>button>a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.userPage-top-right>button:hover{
    background: rgba(0,0,0,0.55);
}
.userPage-top-right>.userSet{
    width: 90px;
    font-size: 12px;
}
.userPage-top-right>.userSet>a>span{
    font-size: 12px;
}
.userPage>.nav{
    width: 1200px;
    height: 50px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 0 0 1px #eee;
    border-radius: 0 0 5px 5px;
}
.userPage>.nav>ul{
    list-style: none;
    overflow: hidden;
    width: 600px;
    float: left;
}
.userPage>.nav>ul>li{
    float: left;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
}
.userPage>.nav>ul>li>a{
    display: inline-block;
    width: 80px;
    height: 50px;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    transition: color 0.25s;
}
.userPage>.nav>ul>li>a:hover{
    border-bottom: 2px solid #57ad68;
    color: #57ad68;
}
.userPage>.nav>ul>li.selected a{
    border-bottom: 2px solid #57ad68;
    color: #57ad68;
}
.userPage>.nav>ul>li>a>img{
    width: 25px;
    height: 25px;
}
.userPage>.nav>div{
    width: 100px;
    height: 50px;
    float: right;
}
.userPage>.nav>div>p{
    width: 100%;
    font-size: 13px;
    color: #333;
    text-align: center;
    margin-top: 5px;
}
.noContent{
    width: 100%;
    height: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    display: none;
}
/*文章区开始*/
.userPage-content{
    width: 1200px;
    margin: 5px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    position: relative;
}
.articleList{
    width: 100%;
    margin: 30px auto;
}
.articleList>.articleBox{
    width: 100%;
    height: 220px;
    /*border: 1px solid #e8e8e8;*/
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.articleBox .articleRight>img{
    width: 300px;
    height: 220px;
    margin-left: 10px;
    margin-right: -20px;
    margin-top: -20px;
}
.articleBox .articleTop{
    position: relative;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.articleBox .articleTop>.articleTitle{
    font-size: 24px;
    height: 30px;
    width: 580px;
    line-height: 32px;
    padding-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
}
.articleTop>.articleTitle>a{
    color: #333;
    text-decoration: none;
    transition: 0.25s;

}
.articleTop>.articleTitle>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer{
    font-size: 12px;
}
.articleBox .deleteIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    float: right;
    color: #ec6e6e;
    opacity: 0;
    cursor: pointer;
    transition: 0.25s;
}
.articleBox:hover .deleteIcon{
    opacity: 1;
}
.articleBox .articleTop>.writer>.deleteIcon:hover{
    color: #ec3e3e;
}
.articleBox .articleTop>.writer>a{
    color: #444;
    text-decoration: none;
    transition: 0.25s;
}
.articleBox .articleTop>.writer>a:hover{
    color: #57ad68;
}
.articleBox .articleTop>.writer::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
}
.articleBox .articleContent{
    position: relative;
    margin-bottom: 30px;
}
.articleBox .articleContent>p{
    width: 100%;
    overflow: hidden;
    height: 75px;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    padding-top: 15px;
    box-sizing: border-box;
}
.articleContent .viewAll{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    cursor: pointer;
    line-height: 20px;
    transition: 0.2s;
    user-select: none;
    margin-left: 10px;
}
.articleContent .viewAll:hover a{
    color: #57ad68;
}
.articleContent .viewAll img{
    width: 8px;
    height: 10px;
    vertical-align: middle;
    margin-bottom: 3px;
}
.articleContent .viewAll>a{
    display: inline-block;
    height: 20px;
    color: #78bc85;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
}
.articleBox .articleBottom{
    font-size: 13px;
    color: #999;
}
/*文章区结束*/
/*选择框开始*/
.confirm{
    position: fixed;
    top: -400px;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: 220px;
    box-sizing: border-box;
    z-index: 9;
    background: #fff;
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.31);
    padding-top: 20px;
    text-align: center;
    border-radius: 6px;
    transition: 0.5s;
}
.confirm>div:nth-child(1){
    width: 100%;
    height: 100px;
}
.confirm>div>img{
    width: 60px;
    height: 60px;
    margin: 15px auto;
}
.confirm>p{
    height: 70px;
    font-size: 16px;
}
.confirm>.btnGroup{
    width: 330px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing: border-box;
}
.confirm>.btnGroup>span{
    width: 50%;
    height: 100%;
    display: inline-block;
    border: 1px solid #fff;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.confirm>.btnGroup>span:nth-child(1){
    color: #999;
    border-bottom-left-radius: 6px;
    border-left: none;
}
.confirm>.btnGroup>span:nth-child(2){
    color: #57ad68;
    border-bottom-right-radius: 6px;
    border-right: none;
}
/*选择框结束*/
/*提示信息开始*/
.hint{
    width: 250px;
    height: 120px;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: #fff;
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.31);
    box-sizing: border-box;
    text-align: center;
    transition: 0.3s;
    border-radius: 6px;
    opacity: 0;
    display: none;
}
.hint>div{
    width: 100%;
    height: 80px;
}
.hint>div>img{
    width: 60px;
    height: 60px;
    margin: 10px auto;
}
.hint>p{
    height: 40px;
    width: 100%;
    color: #666;
}
/*提示信息结束*/
